<form [formGroup]="form">
  <table class="custom-table">
    <thead>
      <tr>
        <th>
          <input
            #selectAllCheckbox
            type="checkbox"
            formControlName="selectAll"
          />
        </th>
        @for (header of headers; track $index) {
        <th>{{ header.label }}</th>
        }
      </tr>
    </thead>

    <tbody formArrayName="rows">
      @for (row of data; track $index; let i = $index) {
      <tr>
        <td>
          <input type="checkbox" [formControlName]="i" />
        </td>

        @for (header of headers; track $index) {
        <td>
          @if (getTemplate(header.key); as tpl) {
          <ng-container
            *ngTemplateOutlet="
              tpl;
              context: {
                row: row,
                value: row[header.key],
                header: header.label
              }
            "
          ></ng-container>
          } @else {
          <div>
            {{ row[header.key] }}
          </div>
          <!-- {{ formatValue(row[header.key], header.type) }} -->
          }
        </td>
        }
      </tr>
      } @if (data.length === 0) {
      <tr>
        <td [attr.colspan]="headers.length + 1" style="text-align: center">
          No data available
        </td>
      </tr>
      }
    </tbody>
  </table>
</form>

<div style="margin-top: 10px">
  <button style="padding: 10px" (click)="changePage(1)">1</button>
  <button style="padding: 10px" (click)="changePage(2)">2</button>
  <button style="padding: 10px" (click)="changePage(3)">3</button>
</div>

<div>
  <p>SelectedCount: {{ selectedCount() }}</p>
  <button (click)="clearAll()">Clear All</button>

  <button (click)="handleAction()">Action</button>
</div>
