<p>transfer-drag-drop works!</p>
<div style="width: 700px; padding: 10px">
  <div style="display: flex; justify-content: space-between">
    <div
      style="
        width: 47%;
        height: 400px;
        overflow-y: auto;
        border: 1px solid lightgray;
        padding: 10px;
      "
    >
      @for (item of leftList; track $index) {
      <div
        style="
          border: 1px solid lightgray;
          margin-bottom: 5px;
          padding: 5px;
          display: flex;
          justify-content: space-between;
        "
      >
        <div>{{ item.name }}</div>
        <div style="cursor: pointer" (click)="move(MoveDirection.RIGHT, item)">
          +
        </div>
      </div>
      }
    </div>
    <div
      style="
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      >
    </div>
    <div
      style="
        width: 47%;
        height: 400px;
        overflow-y: auto;
        border: 1px solid lightgray;
        padding: 10px;
      "
    >
      @for (item of rightList; track $index) {
      <div
        style="
          border: 1px solid lightgray;
          margin-bottom: 5px;
          padding: 5px;
          display: flex;
          justify-content: space-between;
        "
      >
        <div>{{ item.name }}</div>
        @if (!item.isDefault) {
        <div style="cursor: pointer" (click)="move(MoveDirection.LEFT, item)">
          x
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
